.active_link {
    color: var(--btn-color);
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.inactive_link {
    transition: all 0.5s ease-in-out;

    &:hover {
        color: var(--btn-color);
    }
}
