.active_link {
    color: var(--btn-color);
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.inactive_link {
    transition: all 0.5s ease-in-out;

    &:hover {
        color: var(--btn-color);
    }
}

.active_link-2{
    width: 7.25rem;
    height: 0.175rem;
    outline: none;
    background-color: var(--btn-color);
    border-radius: 0.5rem;
    border: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 0.5rem;
}

.inactive_link-2{
    width: 7.25rem;
    height: 0.175rem;
    outline: none;
    border-radius: 0.5rem;
    visibility: hidden;
    border: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 0.5rem;
}
