.landing_page,
header,
nav,
nav ul,
.links {
    display: flex;
}

.landing_page {
    flex-direction: column;
    width: 100%;

    // header
    header {
        flex-direction: row;
        justify-content: space-between;
        border: 0.0625rem solid #d0d0d0;
        font-weight: 700;
        padding: 12.8px;

        .logo {
            flex: 1;
            color: var(--btn-color);
            font-size: 48px;
            font-weight: 700;
            padding-left: 48px;
        }

        nav {
            flex: 2;
            align-items: center;
            justify-content: space-around;
            color: var(--font-pry-color);

            ul,
            .links {
                gap: 24px;
            }

            ul {
                justify-content: center;
                width: 100%;
                li {
                    a {
                        font-weight: 700;

                        &:hover {
                            color: var(--btn-color);
                        }

                        &.active {
                            color: var(--btn-color);
                        }
                    }
                }
            }

            .links {
                width: 100%;
                align-items: center;
                justify-content: center;

                a {
                    padding: 0.5rem 25px;
                    border-radius: 0.5rem;
                    text-align: center;
                    transition: all 0.5s ease-in-out;
                    border: 0.0625rem solid var(--btn-color);
                }

                .log_in {
                    &:hover {
                        background-color: var(--btn-color);
                        color: var(--pry-bg-color);
                    }
                }

                .sign_up {
                    background-color: var(--btn-color);
                    color: var(--pry-bg-color);

                    &:hover {
                        background-color: #3a2b9e;
                    }
                }
            }
        }
    }

    // hero section
    .hero {
        background-color: rgba(0, 0, 0, 0.55);
        background-image: url(../../images/lady-biting-pen.png);
        height: 764px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--pry-bg-color);
            width: 100%;
            max-width: 984px;
            padding: 20px 0;
            margin-bottom: 25px;

            h2 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            p {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 3rem;
                width: 740px;
                align-self: flex-start;
            }

            .hero_btn {
                align-self: flex-start;
            }
        }
    }

    .btn {
        padding: 0.5rem 25px;
        border-radius: 0.5rem;
        text-align: center;
        transition: all 0.5s ease-in-out;
        border: 0.0625rem solid var(--btn-color);
        background-color: var(--btn-color);
        color: var(--pry-bg-color);
        font-weight: 700;
        font-size: 18px;

        &:hover {
            background-color: #3a2b9e;
            color: #e6e5e5;
        }
    }

    // about section
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem 6rem;
        width: 100%;

        .about_container {
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            gap: 4rem;
            width: 100%;

            .left {
                flex: 1;
                width: 686px;

                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 3rem;
                    width: 680px;
                    align-self: flex-start;
                    font-style: normal;
                }
            }

            .right {
                flex: 1;
                background-image: url(../../images/students-in-corridor.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-blend-mode: darken;
                width: 40px;
                height: 414px;
            }
        }
    }

    //join chatter section
    .why_join_chatter {
        display: flex;
        align-items: center;
        justify-content: center;

        .why_join_chatter-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 1040px;
            margin-bottom: 5%;

            .top,
            .bottom {
                flex: 1;
            }

            .top {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 54px;

                h2 {
                    font-size: 48px;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 18px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;

                div {
                    article {
                        h3 {
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 18px;
                            width: 254px;
                        }
                    }
                }

                .analytics,
                .social_interactions,
                .content_creation {
                    border: 1px solid #d0d0d0;
                    border-radius: 8px;
                    padding: 12px 15px;
                    width: 306px;
                    height: 324px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    justify-content: center;
                    align-items: flex-start;

                    svg {
                        width: 23px;
                        height: 22px;
                    }
                }

                .icon {
                    background: rgba(214, 209, 248, 0.2);
                    border-radius: 50px;
                    padding: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .social_interactions {
                    article {
                        margin-bottom: 24px;
                    }
                }

                .content_creation {
                    article {
                        margin-bottom: 49px;
                    }
                }
            }
        }
    }

    //testimonial
    .testimonial {
        width: 100%;
        background: rgba(255, 237, 204, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        .left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .avatar {
                background-image: url(../../images/good-looking-man.png);
                background-color: #d9d9d9;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-blend-mode: darken;
                border-radius: 50%;
                width: 300px;
                height: 292px;
            }
        }

        .right {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            width: 924px;
            height: 292px;
            font-size: 18px;

            p {
                width: 924px;
            }

            .avatar_name {
                margin-top: 40px;

                span {
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: capitalize;
                }
            }
        }
    }

    //c_t_a section
    .c_t_a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .c_t_a-container {
            width: 1287px;
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;

            .left {
                flex: 1;

                .c_t_a-images {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 2rem;

                    .image1 {
                        background-image: url(../../images/good-looking-woman.png);
                    }

                    .image2 {
                        background-image: url(../../images/man-with-glasses.png);
                        left: 150px;
                    }

                    .image3 {
                        background-image: url(../../images/male-headshot-with-glasses.png);
                    }

                    .image1,
                    .image2,
                    .image3 {
                        position: relative;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-blend-mode: darken;
                        border-radius: 50%;
                        width: 134px;
                        height: 138px;
                    }
                }
            }

            .right {
                flex: 2;
                padding: 1.8rem 0;

                article {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 34px;
                    margin-left: 54px;

                    h3 {
                        width: 655px;
                        font-size: 48px;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    p {
                        width: 594px;
                        font-size: 18px;
                    }

                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    //footer section
    footer {
        width: 100%;
        background-color: rgba(255, 237, 204, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem 0;
        height: 402px;

        .footer_container {
            display: flex;
            width: 100%;

            .left {
                flex: 1;
                position: relative;
                left: 108px;

                .logo {
                    width: 214px;

                    a {
                        color: var(--btn-color);
                        font-size: 48px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }

            .right {
                flex: 2;
                display: flex;
                justify-content: space-around;
                z-index: 100;

                & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;

                    h2 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    .footer_links {
                        li {
                            font-size: 18px;
                            text-transform: capitalize;
                            margin-bottom: 0.8rem;

                            a {
                                &:hover {
                                    color: var(--btn-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer_bottom{
            width: 100%;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            svg{
                font-size: 16px;
                // margin-top: 3px;
            }
        }
    }
}
