.landing_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-behavior: smooth;

    // hero section
    .hero {
        height: 764px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .hero_container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: relative;

            .hero_img_container {
                width: 100%;
                height: 100%;
                background-image: url(../../images/lady-biting-pen-small.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                .lady_biting_pen_img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .hero_content_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: var(--pry-bg-color);
                width: 100%;
                height: 100%;
                padding: 20px 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);

                .hero_content {
                    max-width: 984px;
                    padding: 10px 0;

                    h2 {
                        font-size: 48px;
                        font-weight: 700;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 3rem;
                        width: 740px;
                        align-self: flex-start;
                    }

                    .hero_btn {
                        align-self: flex-start;
                    }
                }
            }
        }
    }

    //handles blur load of image
    .blur_img::before {
        content: " ";
        position: absolute;
        inset: 0;
        animation: pulse 2.5s infinite;

        @keyframes pulse {
            0% {
                background-color: rgba(255, 255, 255, 0.3);
            }

            50% {
                background-color: rgba(255, 255, 255, 0);
            }

            100% {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    .blur_img {
        & > img {
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }
    }

    .loaded::before {
        content: none;
    }

    .loaded > img {
        opacity: 1;
    }

    .btn {
        padding: 0.5rem 25px;
        border-radius: 0.5rem;
        text-align: center;
        transition: all 0.5s ease-in-out;
        border: 0.0625rem solid var(--btn-color);
        background-color: var(--btn-color);
        color: var(--pry-bg-color);
        font-weight: 700;
        font-size: 18px;

        &:hover {
            background-color: #3a2b9e;
            color: #e6e5e5;
        }
    }

    // about section
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 6rem;
        width: 100%;

        .about_container {
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 4rem;
            width: 100%;

            .left {
                flex: 1;
                width: 686px;

                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 3rem;
                    width: 680px;
                    align-self: flex-start;
                    font-style: normal;
                }
            }

            .right {
                flex: 1;
                background-image: url(../../images/students-in-corridor-small.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 414px;

                .about_img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .about_img_blur::before {
        content: " ";
        position: absolute;
        inset: 0;
        animation: aboutPulse 2.5s infinite;

        @keyframes aboutPulse {
            0% {
                background-color: rgba(255, 255, 255, 0.3);
            }

            50% {
                background-color: rgba(255, 255, 255, 0.1);
            }

            100% {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    .about_img_blur {
        & > img {
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }
    }

    .about_img_loaded::before {
        content: none;
    }

    .about_img_loaded > img {
        opacity: 1;
    }

    //join chatter section
    .why_join_chatter {
        display: flex;
        align-items: center;
        justify-content: center;

        .why_join_chatter-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 5%;

            .top,
            .bottom {
                flex: 1;
            }

            .top {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 54px;

                h2 {
                    font-size: 48px;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 18px;
                    width: 1300px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;

                div {
                    article {
                        h3 {
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 18px;
                            width: 254px;
                        }
                    }
                }

                .analytics,
                .social_interactions,
                .content_creation {
                    border: 1px solid #d0d0d0;
                    border-radius: 8px;
                    padding: 12px 15px;
                    width: 306px;
                    height: 324px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    justify-content: center;
                    align-items: flex-start;

                    svg {
                        width: 23px;
                        height: 22px;
                    }
                }

                .icon {
                    background: rgba(214, 209, 248, 0.2);
                    border-radius: 50px;
                    padding: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .social_interactions {
                    article {
                        margin-bottom: 24px;
                    }
                }

                .content_creation {
                    article {
                        margin-bottom: 49px;
                    }
                }
            }
        }
    }

    //testimonial
    .testimonial {
        width: 100%;
        background: rgba(255, 237, 204, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        .left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .avatar {
                background-image: url(../../images/good-looking-man.png);
                background-color: #d9d9d9;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-blend-mode: darken;
                border-radius: 50%;
                width: 300px;
                height: 292px;
            }
        }

        .right {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            width: 924px;
            height: 292px;
            font-size: 18px;

            p {
                width: 924px;
            }

            .avatar_name {
                margin-top: 40px;

                span {
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: capitalize;
                }
            }
        }
    }

    //c_t_a section
    .c_t_a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .c_t_a-container {
            width: 1287px;
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;

            .left {
                flex: 1;

                .c_t_a-images {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 2rem;

                    .image1 {
                        background-image: url(../../images/good-looking-woman.png);
                    }

                    .image2 {
                        background-image: url(../../images/man-with-glasses.png);
                        left: 150px;
                    }

                    .image3 {
                        background-image: url(../../images/male-headshot-with-glasses.png);
                    }

                    .image1,
                    .image2,
                    .image3 {
                        position: relative;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-blend-mode: darken;
                        border-radius: 50%;
                        width: 134px;
                        height: 138px;
                    }
                }
            }

            .right {
                flex: 2;
                padding: 1.8rem 0;

                article {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 34px;
                    margin-left: 54px;

                    h3 {
                        width: 655px;
                        font-size: 48px;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    p {
                        width: 594px;
                        font-size: 18px;
                    }

                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    //footer section
    footer {
        width: 100%;
        background-color: rgba(255, 237, 204, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem 0;
        height: 402px;

        .footer_container {
            display: flex;
            width: 100%;

            .left {
                flex: 1;
                position: relative;
                left: 108px;

                .logo {
                    a {
                        color: var(--btn-color);
                        font-size: 48px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }

            .right {
                flex: 2;
                display: flex;
                justify-content: space-around;
                z-index: 100;

                & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;

                    h2 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    .footer_links {
                        li {
                            font-size: 18px;
                            text-transform: capitalize;
                            margin-bottom: 0.8rem;

                            a {
                                &:hover {
                                    color: var(--btn-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer_bottom {
            width: 100%;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            svg {
                font-size: 16px;
            }
        }
    }
}

//media queries
@media screen and (max-width: 1440px) {
    .landing_page {
        .about {
            .about_container {
                .left {
                    width: 486px;

                    p {
                        width: 100%;
                    }
                }

                .right {
                    width: 100%;
                }
            }
        }

        .testimonial {
            gap: 34px;

            .left {
                .avatar {
                    margin-bottom: 40px;
                }
            }

            .right {
                p {
                    width: 825px;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                .left {
                    .c_t_a-images {
                        margin-left: 30px;
                    }
                }
            }
        }

        footer {
            .footer_container {
                .right {
                    justify-content: center;
                    gap: 85px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .landing_page {
        .testimonial {
            .right {
                height: 328px;

                p {
                    width: 720px;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                width: 1150px;

                .right {
                    article {
                        margin-left: 34px;
                    }
                }
            }
        }

        footer {
            .footer_container {
                .left {
                    left: 70px;
                }

                .right {
                    gap: 75px;
                }
            }

            .footer_bottom {
                gap: 5px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .landing_page {
        .hero {
            .hero_container {
                .hero_content_container {
                    .hero_content {
                        max-width: 854px;
                    }
                }
            }
        }

        .about {
            .about_container {
                flex-direction: column;
                gap: 1rem;
                margin-top: 0;

                .left {
                    flex: 0;
                    width: 100%;
                    margin-bottom: 10px;

                    h2 {
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    p {
                        align-self: center;
                        margin-bottom: 0;
                    }
                }

                .right {
                    flex: 0;
                    width: 100%;
                    align-self: center;

                    .about_img {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 0;
                    }
                }
            }
        }

        .why_join_chatter {
            .why_join_chatter-container {
                .top {
                    p {
                        width: 970px;
                    }
                }
            }
        }

        .testimonial {
            .right {
                width: 724px;

                p {
                    width: 645px;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                width: 1080px;

                .left {
                    .c_t_a-images {
                        margin-left: 0;
                    }
                }

                .right {
                    article {
                        margin-left: 34px;

                        h3 {
                            width: 600px;
                        }
                    }
                }
            }
        }

        footer {
            .footer_container {
                .left {
                    left: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .landing_page {
        .hero {
            height: 700px;
            .hero_container {
                .hero_content_container {
                    .hero_content {
                        h2 {
                            font-size: 40px;
                        }
                    }
                }
            }
        }

        .about {
            .about_container {
                .left {
                    h2 {
                        font-size: 36px;
                    }
                }
            }
        }

        .why_join_chatter {
            .why_join_chatter-container {
                .top,
                .bottom {
                    flex: 0;
                }
                .top {
                    h2 {
                        font-size: 36px;
                        text-align: center;
                    }

                    p {
                        width: 900px;
                    }
                }
            }
        }

        .testimonial {
            .right {
                p {
                    width: 600px;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                .right {
                    article {
                        h3 {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .landing_page {
        .why_join_chatter {
            .why_join_chatter-container {
                .bottom {
                    flex-direction: column;
                    width: 100%;

                    div {
                        article {
                            p {
                                width: 100%;
                            }
                        }
                    }
                    .analytics,
                    .social_interactions,
                    .content_creation {
                        width: 600px;
                    }
                }
            }
        }

        .testimonial {
            flex-direction: column;
            padding: 2rem;
            gap: 10px;

            .left {
                width: 100%;

                .avatar {
                    margin-bottom: 10px;
                }
            }

            .right {
                justify-content: center;
                width: 100%;
                gap: 20px;

                p {
                    width: 100%;
                }

                .avatar_name {
                    margin-top: 0;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                flex-direction: column;
                padding: 2rem 0;
                align-items: center;
                overflow: hidden;

                .left {
                    margin-bottom: 2rem;

                    .c_t_a-images {
                        flex-direction: row;
                        align-items: center;
                        gap: 5rem;

                        .image1,
                        .image3 {
                            bottom: 20px;
                        }

                        .image2 {
                            left: 0;
                            top: 70px;
                        }
                    }
                }

                .right {
                    article {
                        margin-left: 0;
                        align-items: center;

                        h3 {
                            font-size: 35px;
                        }

                        p {
                            width: 600px;
                        }

                        a {
                            margin-top: 0;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 916px) {
    .landing_page {
        .why_join_chatter {
            .why_join_chatter-container {
                .top {
                    p {
                        width: 770px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 876px) {
    .landing_page {
        .hero {
            height: 664px;
            .hero_container {
                .hero_content_container {
                    padding: 0 1rem;

                    .hero_content {
                        h2 {
                            font-size: 36px;
                        }

                        p {
                            width: 100%;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .about {
            padding: 2rem 1rem;
            .about_container {
                align-items: center;

                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    h2,
                    p {
                        width: 100%;
                    }

                    p {
                        text-align: center;
                    }
                }

                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 838px) {
    .landing_page {
        footer {
            align-items: center;

            .footer_container {
                flex-direction: column;
                gap: 2rem;
                align-items: flex-start;

                .left {
                    .logo {
                        a {
                            font-size: 35px;
                        }
                    }
                }

                .right {
                    position: relative;
                    left: 20.5px;

                    & > div {
                        gap: 0;

                        h2 {
                            font-size: 22px;
                        }

                        .footer_links {
                            li {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 786px) {
    .landing_page {
        .hero {
            height: 600px;
        }

        .why_join_chatter {
            .why_join_chatter-container {
                .top {
                    p {
                        width: 100%;
                        padding: 0 1rem;
                    }
                }

                .bottom {
                    .analytics,
                    .social_interactions,
                    .content_creation {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 642px) {
    .landing_page {
        .hero {
            height: 500px;
            .hero_container {
                .hero_content_container {
                    padding: 0 1rem;
                    .hero_content {
                        h2 {
                            font-size: 30px;
                        }

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                width: 100%;
                .left {
                    .c_t_a-images {
                        gap: 2rem;
                    }
                }

                .right {
                    align-items: center;
                    padding: 1rem;

                    article {
                        gap: 1rem;

                        h3,
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }

        footer {
            height: 100%;
            padding: 2rem 0.5rem;

            .footer_container {
                .left {
                    position: unset;
                }
                .right {
                    position: unset;
                    gap: 11vw;
                }
            }
        }
    }
}

@media screen and (max-width: 561px) {
    .landing_page {
        footer {
            .footer_container {
                .right {
                    gap: 8vw;
                }
            }
        }
    }
}

@media screen and (max-width: 522px) {
    .landing_page {
        footer {
            .footer_container {
                padding: 2rem 1rem;

                .right {
                    flex-direction: column;
                }
            }

            .footer_bottom {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 483px) {
    .landing_page {
        .testimonial{
            .left{
                .avatar{
                    width: 200px;
                    height: 200px;
                }
            }
        }

        .c_t_a {
            .c_t_a-container {
                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .c_t_a-images {
                        gap: 0;

                        .image1,
                        .image2,
                        .image3 {
                            width: 124px;
                            height: 124px;
                        }
                    }
                }

                .right {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .landing_page {
        .c_t_a{
            .c_t_a-container{
                .left{
                    .c_t_a-images{
                        .image1,
                        .image2,
                        .image3{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}
