.side_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    nav {
        border-right: 1px solid#D0D0D0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 500;
        background-color: #fff;

        .logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.54rem;
            border-bottom: 1px solid #d0d0d0;

            .logo_link {
                color: var(--btn-color);
                font-size: 2rem;
                font-weight: 500;
                line-height: 3rem;
            }
        }

        .side_nav_list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .overview {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;
                width: 100%;
                padding: 1rem;

                .overview_heading {
                    font-size: 1.125rem;
                    align-self: flex-start;
                }

                .overview_links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.7rem;
                    width: 100%;
                    margin-left: 2rem;
                }
            }

            a {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
            }

            .trending_tags {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                width: 100%;
                padding: 0 1rem;

                .trending_tags_heading {
                    font-size: 1.125rem;
                    align-self: flex-start;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.6rem;

                    .trending_icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .trending_tags_links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.7rem;
                    width: 100%;
                    margin-left: 2rem;

                    .see_all_link {
                        color: var(--btn-color);
                    }
                }
            }

            .personal {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                width: 100%;
                padding: 0.8rem 1rem;

                .personal_heading {
                    font-size: 1.125rem;
                    align-self: flex-start;
                }

                .profile_links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.7rem;

                    a {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }
            }

            .log_out {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                padding: 1rem;
                margin-left: 1rem;

                .log_out_btn {
                    color: #ff1400;
                    font-size: 1.125rem;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .side_nav {
        display: none;
    }
}
