.feed_single_blog_post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .single_blog_post_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;

        .single_blog_post_container {
            padding: 16px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            margin-left: 12rem;
            width: 100%;

            .single_blog_post_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .single_blog_post {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 1.8rem;
                    width: 100%;
                    padding: 0 50px;

                    .author_details {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.75rem;

                        .left {
                            display: flex;

                            .author_image {
                                width: 6rem;
                                height: 6rem;
                                border-radius: 50%;
                                background-color: #e6e5e5;
                            }
                        }

                        .right {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .author_name {
                                font-size: 1.5rem;
                                font-weight: 500;
                            }

                            .author_title {
                                font-size: 1rem;
                                font-weight: 400;
                                color: #626262;
                                display: flex;
                                gap: 0.5rem;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .blog_post_reading_time {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #626262;
                        line-height: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1.9rem;

                        .blog_post_analytics {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            .comments,
                            .likes,
                            .views {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.2rem;
                                cursor: text;
                                font-weight: 400;
                                color: #626262;
                            }

                            .comments_icon,
                            .likes_icon,
                            .views_icon {
                                width: 1.3rem;
                                height: 1.3rem;
                                color: #626262;

                                &:hover {
                                    color: var(--btn-color);
                                }
                            }
                        }

                        .reading_time {
                            display: flex;
                            gap: 0.3rem;
                            cursor: text;
                        }
                    }

                    .blog_title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .blog_title_heading {
                            font-size: 2rem;
                            font-weight: 500;
                            text-transform: capitalize;
                            text-align: center;
                        }
                    }

                    .single_blog_post_content {
                        display: flex;
                        flex-direction: column;

                        article {
                            font-size: 1.125rem;
                            font-weight: 400;
                            color: #626262;
                            line-height: 1.6875rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1640px) {
    .feed_single_blog_post {
        .single_blog_post_body {
            .single_blog_post_container {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .feed_single_blog_post {
        .single_blog_post_body {
            .single_blog_post_container {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .feed_single_blog_post {
        .single_blog_post_body {
            .single_blog_post_container {
                padding: 16px 30px;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .feed_single_blog_post {
        .single_blog_post_body {
            .single_blog_post_container {
                padding: 16px 5px;
                .single_blog_post_wrapper {
                    width: 100%;
                    .single_blog_post {
                        padding: 0 5px;

                        .author_details {
                            .left {
                                .author_image {
                                    width: 4rem;
                                    height: 4rem;
                                }
                            }
                        }

                        .blog_post_reading_time {
                            .blog_post_analytics {
                                .comments,
                                .likes,
                                .views {
                                    font-size: 0.8rem;
                                }

                                .comments_icon,
                                .likes_icon,
                                .views_icon {
                                    width: 1rem;
                                    height: 1rem;
                                }
                            }

                            .reading_time {
                                font-size: 0.8rem;
                            }
                        }

                        .blog_title {
                            .blog_title_heading {
                                font-size: 1.5rem;
                                width: 100%;
                            }
                        }

                        .single_blog_post_content {
                            article {
                                font-size: 1rem;
                                line-height: 1.5rem;

                                p{
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}